body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

input {
    padding: 10px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ddd;
    margin: 8px 0;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}
